.page{
    padding: 8rem 2rem;
    .heading{
        margin-top: 1rem;
        font-size: 2.5rem;
        color: var(--gdsc-blue-3-100);
        font-weight: var(--heading-1-text-weight);
    }
    .about{
        .text{
            margin-top: 1rem;
        }
    }

    .teamContainer{
        
        width: 100%;
        text-align: center;
        .senior{
            padding: 5% 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 7%;
        }

        .junior{
            padding: 5% 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3%;
        }
    }
}