.addExpForm {
  background-color: #d9fae3;
  padding: 1rem 1rem;

  h1 {
    text-align: center;
    font-weight: 400;
  }

  .formGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));

    .leftGrid {
      h3 {
        margin: 0.5rem 0;
        font-weight: 400;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .expSubmit {
          width: 10%;
          margin: 1rem 1rem;
        }

        div {
        }
      }

      input {
        width: 45%;
        margin: 0.5%;
        padding: 0.8rem;
      }
    }

    .rightGrid {
      h2 {
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
