section {
  width: 36vw;
  float: right;
  margin: auto;
  //   text-align: center;
  .search {
    // position: absolute;
    border-radius: 24px;
    width: calc(100% - 15vw);
    padding: 0 20px;
    // border: none;
    // text-align: right;
    display: flex;
    height: 2rem;
    margin: auto;
    background-color: #ededed;
    border: 1px solid rgba(95, 99, 104, 0.1);
  }
}
