.home {
  min-height: 100vh;
  padding: 10vh 2vh;
  h1 {
    font-weight: bold;
  }
  .trendTitle {
    font-size: 1rem;
    font-weight: var(--heading-1-text-weight);
    color: var(--gdsc-grayish-1-100);
    margin: 3rem 0rem 3rem 5rem;
  }
  .trending {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    margin: 0.5rem 4rem;
    width: 85%;
  }
  @media screen and (width < 900px) {
    .home {
      padding: 8vh 2vh;
    }
    .trending {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin: 0.5rem 3rem;
      justify-content: center;
    }
    .trendTitle {
      margin: 1.5rem 0rem 1.5rem 3rem;
    }
  }
}
@media screen and (width < 500px) {
  .trending {
    margin: 0.5rem 2rem;
  }
  .trendTitle {
    margin: 1.5rem 0rem 1.5rem 2rem;
  }
}
