// This is a part of Template
.home {
  min-height: 100vh;
  h1 {
    font-weight: bold;
  }

  .articlesection {
    display: flex;
    @media screen and (width > 600px) {
      .article {
        width: 80%;
      }
    }
  }
}
