// ............................................Edit Profile Section.....................................

.editForm {
  backdrop-filter: blur(20px);
  // position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

.info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  div {
    display: flex;
  }

  input,
  textarea {
    width: 50%;
    margin: 1rem 0.4rem;
    padding: 0.5rem;
  }
}

.HideEditProfile {
  display: none;
}
