@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
// .............................................................

$border-color: rgb(141, 141, 141, 0.2);

* {
  margin: 0;

  font-family: poppins;
}

h4 {
  width: 100%;
  text-align: left;
  padding: 2%;
  font-family: poppins;
}

.main {
  float: right;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;

  width: 36%;
  height: 80vh;

  text-align: center;

  @media (max-width: 600px) {
    display: none;
  }
}
.tagBox {
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: auto;
  width: 70%;

  span {
    color: grey;
    border: 1.5px solid $border-color;
    border-radius: 2px;
    width: auto;
    white-space: nowrap;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 1.7%;
    margin: 1.5%;

    height: fit-content;

    &:hover {
      color: black;
      border: 1.5px solid rgb(215, 215, 215);
      cursor: pointer;
    }
  }
}

.bookmarks {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 70%;

  p {
    padding: 2%;
    text-align: left;
    width: 100%;
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: -10px;
    height: fit-content;

    &:last-of-type {
      text-align: right;
      width: 90%;
      a {
        color: var(--gdsc-blue-1-100);
      }
    }
  }
}
