$grey-text-1-100: rgba(101, 108, 115, 1);
$grey-text-1-70: rgba(101, 108, 115, 0.7);

@mixin header($n) {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: $n;
}

@mixin footer_list_top($w, $f) {
  padding: 2rem 5rem 2rem 5rem;
  width: $w;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $grey-text-1-100;
  font: $f;
}

@mixin line($c) {
  width: 3rem;
  height: 0.2rem;
  background: $c;
  align-self: center;
}

.wrapper {
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  height: 50vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  // flex-flow: column nowrap;
  justify-content: center;
}

a {
  text-decoration: none;
}

.footer_list_side {
  @include footer_list_top(25%, var(--gdsc-font-2));
  // @include footer_list_top(25%);
  // font: var(--gdsc-font-2);
}

.footer_list_middle {
  @include footer_list_top(50%, var(--gdsc-font-1));
  // @include footer_list_top(50%);
  // font: var(--gdsc-font-1);
}

.footer_list_header {
  @include header(500);
}

.footer_list_head {
  @include header(bolder);
  font: var(--gdsc-font-2);
}

.links {
  font-size: 1rem;
}

.text {
  font-size: 1rem;
  font: var(--gdsc-font-1);
}

a {
  color: $grey-text-1-100;
  &:hover {
    color: $grey-text-1-70;
  }
  &:visited {
    color: $grey-text-1-100;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.red {
  @include line(var(--gdsc-red-1-100));
}

.yellow {
  @include line(var(--gdsc-yellow-1-100));
}
