a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.tagitem {
  border-radius: 12px;
  padding: 0 0.5rem;
  background-color: #d9d9d9;
  text-align: center;
  height: fit-content;
  font-size: 0.6rem;
  flex-wrap: wrap;
  white-space: nowrap;
  cursor: pointer;
}

.tagitem:hover {
  color: var(--gdsc-color-blue);
}
