.card {
  margin: 2.5rem auto;
  text-align: center;
}
.heading {
  max-width: 300px;
  color: var(--gdsc-grayish-1-100);
  font-size: 1.3rem;
  font-weight: var(--heading-1-text-weight);
  text-align: right;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: var(--paragraph-2-text-weight);
  font-size: 1rem;
  white-space: nowrap;
  .bold {
    font-weight: var(--heading-1-text-weight);
  }
  .author {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
}

.rank {
  font-weight: var(--heading-1-text-weight);
  font-size: 1.8rem;
  color: var(--grey-text-1-100);
  filter: opacity(0.5);
  z-index: -1;
}
