.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgba(78, 74, 74, 1);
  .title {
    font-size: 2.24em;
    line-height: 1.2em;
    font-weight: 600;
  }
  .author {
    font-weight: 400;
    font-size: 0.9em;
  }
  .img {
    align-self: center;
  }
}
