.error {
  height: 90vh;
  padding: 10vh 2vh;
  display: flex;
  flex-direction: column;

  .lottie{
    margin: auto;
    width: 600px;
    height: 500px;
  }

  .errorMessage{
    color: var(--gdsc-logo-text);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

    @media (100px <= width <=500px) {
      .lottie {
        margin: auto;
        height: 100px;
        width: 200px;
      }

      .errorMessage {
        font-weight: 500;
        font-size: 20px;
      }
    }
}
